

/* MÓDULO 04 -- HTML5 e CSS3 - Recursos especiais

    Estou colocando Id's no 'Body' de cada aula para que assim não seja preciso comentar todos os codigos, e quando eu quiser acessar de novo os link e arquivos feitos eles funcionarem corretamente com as suas respectivas configurações;

    As explicações ficaram em comentarios acima dos codigos de suas respectivas aulas

*/

/*  Aula 01 -- Normalize CSS
    Serve para padronizar configurações em browser diferentes;
    O nomalize pode ser copiado online pesquisando "nomalize css" no Google e entrando no primeiro link
    
    Aula 01 -- FIM
/**************************************** Aula 01 -- FIM ****************************************/

/*  Aula 02 -- Box Sizing & Cantos Arredondados
    
        Border-radius {
            Define um arredondamento da caixa;
            Podmeos usar para fazer o efeito de uma foto de perfil, que a foto fica redonda, como no intagram ou facebook;

            O ideal para fazer o arredondamento de uma imagem é que ela tenha a mesma medida de altura e largura;

            As medidas oodem ser declaradas da mesma maneira que uma margin ou padding,Exemplo:
                        'border-radius: 10px 50px 80px 100px;' ou
                        'border-radius: 20px 90px;';

            Em algumas versões mais antigas de browser temos que usar 'prefixos' para que o navegador possa interpretar corretamente o border-radius;

            Exemplos de prefixos:
                            -webkit-border-radius: 20px 90px; **Prefixo para versões do Google Chome e Safari**
                            -moz-border-radius: 20px 90px; **Prefixo para versões do Mozila Firefox**

            Link para a definição do border-radius:
                'https://www.w3schools.com/cssref/css3_pr_border-radius.asp'
        }

        box-sizing: border-box;{
            Usando o "box-sizing" com o valor "border-box;" ele mantem o tamanho da caixa definido, então quando adcionarmos um "padding" o tamanho da caixa não será alterado por exemplo;

            O "box-sizing" também é uma propriedade relativamente nova, então algumas vaezes sera necessario usar os prefixos:
                    -webkit-box-sizing: border-box;**Prefixo para versões do Google Chome e Safari**
                    -moz-box-sizing: border-box;**Prefixo para versões do Mozila Firefox**

        }



*/

#aula02 #caixa{ /* Exemplo de caixa sem 'box-sizing' */
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 50px;
    margin: 15px;
    border-radius: 380px;  
    border-radius: 10px 50px 80px 100px; 
    border-radius: 20px 90px;
}

#aula02 #caixa2{ /* Exemplo de caixa com 'box-sizing' */
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 50px;
    margin: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 380px;  
    border-radius: 10px 50px 80px 100px; 
    border-radius: 20px 90px;
}

/**************************************** Aula 02 -- FIM ****************************************/

/*  Aula 03 -- Degradês e Transparencia

    Transparencia{

        Usando o "background" com o valor 'rgba' podemos definir uma cor usando o r(red), g(green) e o b(blue) e usando a ultima propriedade o 'a' definimos a opacidade a cor, exemplo:
            background: rgba(255, 255, 255,0.5);

        Sendo o valor '0' de opacidade definindo que não aparecera nenhuma cor;

        E o valor '1' de opacidade definindo que a cor aparecera normalmente;
        Então entre 0 e 1 é onde formatamos a opacidade da cor.
    }
    background: linear-gradient(red, yellow, green, blue);{
        Usado para fazer um degradê de cores em um elemento definindo as cores red,yellow,green e blue;
        
        Podemos tambem definir a direção do efeito gradiênte usando:
                    "to left", "to right", "to top", "to bottom";

                background: linear-gradient(to top, red, yellow, green, blue);
                As definições sempre partiram do primeiro valor que foi inserido, que no exemplo a cima é o vermelho que saira de baixo e acaba com o azul na parte de cima;

        Podemos tambem definir em graus a rotação:
                background: linear-gradient(40deg, red, yellow, green, blue);

        Usamos o "background: radial-gradient(red,green);" para fazer um degrade em circulos com o primeiro valor sendo o mais central.

    }

*/

#aula03 #caixa{

    width: 300px;
    height: 300px;
    background: radial-gradient(red, yellow, green, blue);
    /*background: linear-gradient(to top, red, yellow, green, blue);
    background: url(../Aula03_degrades_transparencias/imagens/camera.png);
    opacity: 0.5;  para deixar a imagem opaca*/

}

#aula03 #caixa h1{
    /*background: rgba(255, 255, 255,0.5);*/
}

/**************************************** Aula 03 -- FIM ****************************************/
