/*
    Um novo projeto de site :
        páginas com 3 colunas de conteudo;
        páginas com 2 colunas de conteudo;
        páginas com 1 coluna de conteudo;
        todas com um menu superior.
        Usando um layout liquido.
*/
/*
    Formatações Gerais
*/
*{
    margin: 0;
    padding: 0;
}

/*
    Formatação do menu superior
*/

#menu-superior {
    border: 1px solid green;
    width: 100%;
    height: 100px;
    float: left;
}

#menu-superior ul li{
    border: 1px solid red;
    display: block;
    float: right;
    padding: 10px;
    

}





