
   /* FORMATAÇÕES GERAIS */

body{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px auto;
    background: blanchedalmond;
}
a{
    text-decoration: none;
    color:lightgreen;
}
a:hover{
    color: red;
}
#conteudo{
    background-color: grey;
    width: 950px;
    height: 425px;
    margin: 10px auto;
    padding: 5px;
}

h3, p{
    text-align: center;
}


/*    FORMATANDO O MENU SUPERIOR */
#menu{
    background: grey;
    text-align: center; 
    padding:5px; 
    height: 30px;
    line-height: 30px;  
    width: 950px;
    margin: 10px auto;
}

#menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
}

#menu a:hover{
    color: black;
    height: 30px;
    text-decoration: underline;
}

/*
    FORMATANDO A BARRA VERTICAL DIREITA
*/

#area-direita{
    display: inline-block;
    position: relative;
    float: right;
    margin: 0px ;
}

.retangulo-direita{
    width: 310px;
    height: 115px;
    background: white;
}
.retangulo-direita:hover{
    background:rgba(253, 252, 176, 0.527);
    color: aliceblue;
}

/*
    BARRA CENTRAL
*/
#retangulo-central{
    display: inline-block;
    float: right;
    background: white;
    width: 280px;
    height: 393px;
    margin: 0px 20px;   
}

#retangulo-central:hover{
    color: white;
    background: black;   
}

#imagem-central{
    width: 185px;
    height: 185px;
    margin: 0px 20px 5px 50px;
}
/*
    FORMATANDO A BARRA VERTICAL ESQUERDA
*/
#area-esquerda{
    display: inline-block;
    position: relative;
    margin: 10px;

}

.retangulo-superior-esquerda{
    top: 500px;
    width: 310px;
    height: 115px;
    background: white;
}

.retangulo-superior-esquerda:hover{
    background:rgba(253, 252, 176, 0.527);
    color: aliceblue;
}

.retangulo-inferior-esquerda{
    width: 310px;
    height: 260px;
    background: white;
}
.retangulo-inferior-esquerda:hover{
    color: white;
    background: black;   
}

#grafico-imagem{
    width: 128px;
    height: 121px;
    margin-left: 95px;
    border: 1px solid rgba(204, 202, 202, 0.527);  
}




